# Dependencies
node_modules/
.env

# Build
build/
dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# AWS
.aws/


# Environment variables
.env
.env.local
.env.development
.env.production